<%- include ('../../partials/header'); %>
<%- include ('../../partials/navbar'); %>


<div class="container">
    <hr>
    <div class="card">
    <div class="card-header">
        <h2>Edição de Artigo</h2>
    </div>
    <div class="card-body">
        <form method="POST" action="/articles/update" >
            <input class="form-control" name="title" value="<%= article.title %>" type="text"  placeholder="Defina o título do artigo">
            <input type="hidden" name="id" value="<%= article.id %>" >            <br>
            <textarea class="form-control"  name="body"   placeholder="Escreva seu artigo" id="article">
              <%- article.body %>
            </textarea>
            <br>
            <label for="">Categoria</label>
           <select name="category" class="form-control">
              <% categories.forEach((category) => { %>
                  <option value="<%= category.id %>"><%= category.title %></option>
              <% }) %>
          </select>
            <br>
            <button class="btn btn-success">Atualizar</button>
        </form>
    </div>
    </div>
</div>

<%- include ('../../partials/footer'); %>


<script src="/tinymce/tinymce.min.js"></script>
<script>
     tinymce.init({
    language: 'pt_BR',
    selector: "#article",
    branding: false,
    plugins: [
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticon'
    ]
  });
</script>